In [1]:
%%capture

!pip install -r requirements.txt

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Balanced_AHR.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7615 entries, 0 to 7614
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   7615 non-null   int64
 1   title        7615 non-null   object
 2   rating       7615 non-null   int64
 3   review_text  7615 non-null   object
 4   location     6819 non-null   object
 5   hotel        6819 non-null   object
 6   label        7615 non-null   int64
dtypes: int64(3), object(4)
memory usage: 416.6+ KB

In [5]:
df.describe()

        Unnamed: 0       rating        label
count  7615.000000  7615.000000  7615.000000
mean   3807.000000     3.130269     1.246487
std    2198.405483     1.548310     1.218474
min       0.000000     1.000000     0.000000
25%    1903.500000     2.000000     0.000000
50%    3807.000000     3.000000     1.000000
75%    5710.500000     5.000000     3.000000
max    7614.000000     5.000000     3.000000

In [6]:
df.sample(5)

,Unnamed: 0,title,rating,review_text,location,hotel,label
5081,5081,Un hostel de 10,5,Estuve alojado en este hostel durante 3 noches...,Seville_Province_of_Seville_Andalucia,Black_Swan_Hostel_Sevilla,1
4807,4807,"No es un 4 estrellas, ni creo que lo fuese alg...",2,"Ruidoso, pésima insonorizacion, parking carisi...",NaN,NaN,0
6817,6817,2 noches de estadía,5,"Excelente: personal servicial, personal amable...",Seville_Province_of_Seville_Andalucia,The_Corner_House,1
3291,3291,"horible,precios altos",1,"he tenido que limpiar yo el suelo ,holor mal e...",Almeria_Province_of_Almeria_Andalucia,Pension_Americano,0
1792,1792,BIEN UBICADO.BAÑO MALOLIENTE,2,"La situación es buenísima, en el centro de la ...",Granada_Province_of_Granada_Andalucia,Hostal_Sonia,0

In [7]:
df_negativo = df[df['rating']<=2].drop(['label', 'hotel', 'location', 'rating', 'Unnamed: 0'], axis=1)
df_neutro = df[df['rating']==3].drop(['label', 'hotel', 'location', 'rating', 'Unnamed: 0'], axis=1)
df_positivo = df[df['rating']>=4].drop(['label', 'hotel', 'location', 'rating', 'Unnamed: 0'], axis=1)

In [8]:
len(df_negativo)

2671

In [9]:
df_negativo.sample(5)

,title,review_text
2738,Cuidado si vas con niños,Reservamos directamente en la web del hotel un...
4815,NO LO RECOMIENDO,Estuvimos un grupo grande hace unos días. La c...
2075,No muy allá,En un hotel se debe de dormir bien y no ha sid...
4241,Hotel de 4* para pagar y de 1* en servicios,Estoy acostumbrado todos los años a viajar en ...
2820,Para salir del paso de forma económica,"Al llegar la recepcionista fue muy amable, des..."

In [10]:
len(df_neutro)

2274

In [11]:
df_neutro.sample(5)

,title,review_text
1947,Mejor no ir en invierno,Son apartamentos compartidos con estudiantes p...
3169,Turismo,"Un poco cutrecillo, habitación muy pequeña y b..."
3692,Buen albergue pero caros.,Este es un albergue de la junta de Andalucía. ...
430,Adorable Sevilla,Hotel céntrico pero en barrio delicado. Para s...
3755,Necesita una reforma urgente,El hotel esta muy bien situado y el personal e...

In [12]:
len(df_positivo)

2670

In [13]:
df_positivo.sample(5)

,title,review_text
7288,Un hotel único!,Nos alojamos en este hotel hace unas semanas p...
6371,Tranquilidad asegurada,Ambiente muy bussines y adulto. Habitaciones i...
6994,Excelente,Excelentes habitaciones. Muy buen desayuno. Pe...
5886,Excelente opción.,Hotel recién inaugurado en pleno centro de Sev...
5513,Excelente,El hotel se encuentra a menos de 10 minutos de...